@import '../../scss/app';
.social-login{
  max-width: 400px;
  margin: 0 auto 36px;
  text-align: justify;
  button{
    margin: 10px 0 !important;
    height: 40px;
    border-radius: 10px;
    width: calc(50% - 15px);
    text-align: center;
    padding: 0;
    border: 0;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: $w !important;
    &:nth-of-type(even){
      float: right;
    }
    &.fb{
      &,&:focus{
        background: $fb url(../../img/fb.png) 10px center no-repeat;
      }
    }
    &.g-plus{
      &,&:focus {
        background: $g-plus url(../../img/g+.png) 10px center no-repeat;
      }
    }
    &.vk{
      &,&:focus {
        background: $vk url(../../img/vk.png) 10px center no-repeat;
      }
    }
    &.tw{
      &,&:focus {
        background: $tw url(../../img/tw.png) 10px center no-repeat;
      }
    }
    @media all and (max-width: 480px) {
      width: 100%;
    }
  }
}
.login{
  .without-social{
    @media all and (min-width: 992px){
      .area{
        margin: calc(((304px - 170px) / 2) + 50px) auto calc((304px - 170px) / 2);
      }
    }
  }
  //h2{
  //  margin-bottom: 117px;
  //}


  .signup{
    .area{
      position: relative;
      @media all and (min-width: 992px) {
        &::before{
          content: '';
          position: absolute;
          left: -35px;
          top: 0;
          display: block;
          width: 1px;
          height: 100%;
          background: $w-o;
        }
        &::after{
          content: 'or';
          position: absolute;
          background: $main;
          color: $w-o;
          font-size: 11px;
          padding: 23px 0;
          left: 0;
          top: 50%;
          transform: translate(calc(-50% - 35px), -50%);
        }
      }
      @media all and (min-width: 1200px) {
        &::before{
          left: -85px;
        }
        &::after{
          transform: translate(calc(-50% - 85px), -50%);
        }

      }
    }
  }
  .form-group{
    margin-bottom: 25px;
  }
  .form-group:last-of-type{
    margin-bottom: 0;
  }
  
}