@import '../../scss/common';

.project-menu {
  width: 100%;
  min-height: 0 !important;
  .current-project {
    display: block;
    position: relative;
    a{
      margin: 0;
      span{
        display: none !important;
      }
    }
    &:after{
      content: '';
      width: 20px;
      height: 15px;
      position: absolute;
      background: url(/dist/progres.png) no-repeat;
      border: none;
      transform: rotate(90deg);
      right: 8px;
      top: 9px;
    }
    @media all and (min-width: 768px){
      display: none;
    }
  }
  @media all and (min-width: 992px) {
    max-width: 195px;
  }
  @media all and (min-width: 768px) and (max-width: 991px) {
    max-width: calc(100% - 15px);
  }


  &.navbar-default{
    background: none;
    border: 0;
  }
  .container{
    width: 100%;
    max-width: 100%;
    padding: 0 !important;

    .add{
      &, &:hover, &:focus{
        height: 47px;
        border: 2px dashed $accent;
        border-radius: 10px;
        background: 0;
        color: $accent;
      }
      &:hover{
        opacity: 1;
      }
      &{
        display: block;
        opacity: .5;
        padding: 0;
        width: 100%;
        transition: .3s;
        font-size: 16px;
        line-height: 40px;
        vertical-align: middle;
        @media all and (max-width: 767px) {
            margin: 0 auto;
        }
        span{
          font-size: 35px;
          position: relative;
          top: 6px;
          margin-right: 5px;
          line-height: 20px;
        }
      }
    }
    .change-name{
      width: 100%;

      @media all and (max-width: 767px){
        margin: 0 auto 25px;
      }
      &, &:hover, &:focus{
        border: 0;
        border-radius: 0;
        background: 0;
        padding: 0;
      }
      input{
        border-radius: 0;
        background: 0;
        box-shadow: none;
        color: $w;
        width: 100%;
        padding: 0;
        display: block;
        &::placeholder{
          color: $w;
        }
      }
      span{
        margin: 0 8px 0 0;
        opacity: 0.5;
        transition: .3s;
        cursor: pointer;
        float: left;
        @media all and (max-width: 767px) {
          font-size: 20px;
          margin: 5px 10px 0 0;
        }
        &:hover{
          opacity: 1;
        }
      }
    }
  }

  .nav {
    width: 100%;
    margin: 0 0 20px;
    &>div{
      margin-bottom: 25px;
      @extend %clearfix;
      @media all and (max-width: 767px) {
        margin: 0 auto 25px;
      }
      span{
        float: left;
        margin: 0 8px 0 0;
        opacity: 0.5;
        transition: .3s;
        cursor: pointer;
        @media all and (max-width: 767px) {
          font-size: 20px;
          margin: 5px 10px 0 0;
        }

        &:hover{
          opacity: 1;
        }
      }
      input{
        height: 33px;
        width: 100%;
        background: none;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        &::placeholder{
          color: $w;
        }
      }
    }
    @media all and (max-width: 767px) {
      position: fixed;
      background: $b;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 9;
      padding: 80px calc((100% - 250px) / 2) 30px;
      text-align: center;
      display: none;
      overflow-y: auto;
      &.open{
        display: block;
      }
      a{
        margin: 0 auto 25px;
        padding: 0 0 0 33px;
      }
    }
  }
  a{
    display: block;
    min-height: 33px;
    border-radius: 20px 10px 10px 20px ;
    background: 0;
    line-height: 33px;
    color: $w !important;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 50px;
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
    position: relative;
    &::before{
      content: '';
      width: 34px;
      height: 38px;
      background: url(../../img/project.png) no-repeat;
      position: absolute;
      left: 0;
      top: -3px;
    }
    &.currentProject{
      background: $semi-b;
      &::before{
        background: url(../../img/project-d.png) no-repeat;
      }
      span{
        display: block;
        opacity: 1;
      }
    }
    span{
      float: right;
      margin-top: 8px;
      margin-right: 5px;
      @media all and (max-width: 767px) {
        display: block;
        margin: 5px 0 0;
        font-size: 20px;
      }
    }
    //&.no-backup{
    //  &::before{
    //    background: url(../../img/project-d.png) no-repeat;
    //  }
    //}
    &:focus, &:hover{
      text-decoration: none;
      span{
        display: block;
      }
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
      padding: 0 5px 0 40px;
    }
  }
}