// Independent small components
.btn{
  border-radius: $radius;
  font-size: 16px;
  &:focus, &:active, &:visited{
    outline: none !important;
    box-shadow: none;
  }
}
.button{
  display: block;
  height: 48px;
  line-height: 48px;
  text-transform: uppercase;
  border: 0;
  font-size: 16px;
  background: $btn-gradient;
  box-shadow: $btn-shadow;
  position: relative;
  z-index: 1;
  padding: 0 31px !important;
  min-width: 200px;
  color: $w;
  &::before{
    content: '';
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #3e7900 0%, #c1db64 100%);
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
  }
  &:hover, &:focus, &:active{
    color: $w !important;
    box-shadow: $btn-shadow;
    background: $btn-gradient;
    &::before {
      opacity: 1;
    }
  }
}
.help-block{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $w;
  text-align: center;
  padding: 15px 0 10px;
  margin: 0;
  a{
    text-decoration: underline;
    color: $w;
    margin-left: 5px;
    font-weight: 700;
  }
}
form{
  padding-bottom: 50px;
  h2{
    margin: 50px 0;
    font-size: 24px;
    font-weight: 400;
  }
  button[type=submit]{
    margin: 0 auto;
    text-transform: uppercase;
  }
}
.area{
  margin: 0 auto;
  background: $main-light;
  border-radius: 10px;
  padding: 40px 37px;
  border-radius: 10px;
  border-top: 1px solid $main-light;
  @media all and(max-width: 1199px) {
    padding: 30px;
  }

  &_fit{
    max-width: 400px;
    &+.help-block{
      padding: 35px 0 15px;
    }
  }
}
label{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 10px 0 10px;
}
.form-control, input{
  height: 42px;
  padding: 0 18px;
  line-height: 42px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: $input-shadow;
  outline: none;
  border: 0;
  &:focus{
    box-shadow: $input-shadow;
    //box-shadow: none;
    outline: none;
    border: 0;
  }
  &::placeholder{
    color: $disable;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
  }
}

.rc-slider{
  height: 28px;
  padding: 0;
  .rc-slider-rail{
    border-radius: $radius;
    height: 28px;
    background: $semi-b;
  }
  .rc-slider-track{
    border-radius: $radius;
    height: 28px;
    background: $btn-gradient;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      box-shadow: $progress-shadow;
      background-image: linear-gradient(135deg,$gradient 0,$gradient 30%,transparent 0,transparent 65%,$gradient 0,$gradient 100%);
      background-size: 68px 28px;
      animation: progress-bar 2.5s linear infinite;
      border-radius: $radius;
    }
  }
  .rc-slider-handle{
    content: '';
    width: 20px;
    height: 15px;
    position: absolute;
    background: url(../../img/progres.png) no-repeat;
    border: none;
    bottom: -15px;
    transform: translate(-3px, 0);
  }
}
.rc-slider-tooltip{
  transform: translate(20px, 0);
  padding: 0;
  .rc-slider-tooltip-arrow{
    display: none;
  }
  .rc-slider-tooltip-inner{
    box-shadow: none;
    background: none;
    top: -15px;
    position: relative;
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 63px;
  height: 35px;
  input {
    display:none;
    &:checked + .slider:before {
      left: calc(100% - 34px);
      background: $btn-gradient-d;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    box-shadow: $input-shadow;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $w;
    transition: .3s;
    &::before{
      position: absolute;
      content: "";
      width: 31px;
      height: 28px;
      left: 3px;
      bottom: 3px;
      background: $btn-gradient;
      transition: .3s;
      border-radius: 9px;
    }
  }
}
.no-p-l{
  @media all and (min-width: 768px) {
    padding-left: 0 ;
  }
}
.no-p-r{
  @media all and (min-width: 768px) {
    padding-right: 0 ;
  }
}
.burger{
  display: none;
  float: right;
  width: 35px;
  height: 50px;
  @media all and (max-width: 767px){
    display: block;
    span{
      display: block;
      width: 100%;
      height: 3px;
      position: relative;
      top: 23px;
      background: $w;
      &:before{
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        background: $w;
        top: -12px;
        transition: 0.2s;

      }
      &:after{
        content: '';
        position: absolute;
        display: block;
        height: 3px;
        width: 100%;
        background: $w;
        bottom: -12px;
        transition: 0.2s;

      }
    }
  }
}
.open .burger, .burger.open{
  span{
    transform: rotate(180deg);
    background: transparent;
    &:before{
      top: 0;
      transform: rotate(225deg);
    }
    &:after{
      top: 0;
      transform: rotate(315deg);
    }
  }
}
span{
  &.glyphicon-ok{
    color: $accent;
  }
  &.glyphicon-remove{
    color: $danger;
  }
}