$b : #000;
$semi-b: rgba(0, 0, 0, 0.2);
$d: #010101;
$w : #fff;
$w-o: rgba(255, 255, 255, 0.5);
$w-o-o: rgba(255, 255, 255, 0.2);
$grey : #888;
$accent: #accd3e;
$accent-l: rgba(172, 205, 62, 0.3);
$main : #2e3138;
$danger : #ee4e10;
$disable: #43464c;
$main-light: rgba(255, 255, 255, 0.1);
$button: rgba(138, 183, 27, 0.5);
$button-h: rgba(138, 183, 27, 1);
$gradient: rgba(255, 255, 255, 0.3);
$btn-gradient : linear-gradient(to bottom, #c1db64 0%, #3e7900 100%);
$btn-gradient-d : linear-gradient(to bottom, #b5bac0 0%, #666b77 100%);
$btn-shadow: 0px 6px 9px -1px rgba(0, 0, 0, 0.2);
$progress-shadow: 0px 6px 9px -1px rgba(0, 0, 0, 0.2);
$input-shadow : inset 0 3px 7px rgba(0, 0, 0, 0.35);

$radius: 8px;

$fb: #415993;
$g-plus: #cc5542;
$vk: #577196;
$tw: #4c9feb;


@keyframes progress-bar {
  from {
    background-position: 0 1px;
  }
  to {
    background-position: 68px 1px;
  }
}