@import '../../scss/common';

.widget{

  @media all and (min-width: 992px) {
    max-width: 485px;
  }
  @media all and (min-width: 768px) and (max-width: 991px) {
    float: right !important;
  }
  h2{
    font-size: 24px;
    margin: 0;
  }
  .widget__info{
    margin-top: 30px;
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        @media all and (min-width: 768px) and (max-width: 991px) {
          margin-bottom: 10px;
          &:last-of-type{
            margin: 0;
          }
        }
      }
      span{
        display: inline-block;
        @media all and (min-width: 768px) and (max-width: 991px) {
          width: 100%;
        }
        &:nth-child(1){
          color: $grey;
          margin-right: 12px;
          min-width: 100px;
        }
      }
    }
  }
}