@import '../../scss/common';
.logo{
  &, &:focus {
    display: block;
    width: 180px;
    height: 58px;
    background: url(../../img/logo.png) no-repeat;
    background-size: contain;
    margin: 18px 0;
    outline: none;
    background-size: contain;
    @media all and (max-width: 767px) {
      height: 40px;
      width: 125px;
      margin: 5px 0;
    }
  }
}
.header{
  margin: 0;
  background: $b !important;
  border: 0 !important;
  margin: 0;
  transition: .3s;
  @media all and (max-width: 767px) {
    overflow: hidden;
    height: 50px;
    &.open{
      height: 100vh;
    }
  }

  .navbar-header{
    float: left;
    margin: 0 !important;
  }
  .btn-toolbar{
    padding-top: 23px;
    float: right;
    @media all and (max-width: 767px) {
      width: 100%;
      height: calc(100vh - 50px);
      padding: 30px 0;
      overflow-y: auto;
      text-align: center;
    }
    &>button{
      float: right;
      margin-left: 30px;
      @media all and (max-width: 767px) {
        float: none;
        display: block;
        margin: 20px auto;
        &.permanent{
          font-size: 14px;
          padding: 0 20px !important;
        }
      }
    }
    .btn-group{
      float: right;
      margin-left: 30px;
      @media all and (max-width: 767px) {
        float: none;
        opacity: 1;
        margin: 0;
      }
      .dropdown-toggle{
        position: relative;
        @media all and (max-width: 767px) {
          padding: 0 ;
          min-width: 200px;
          background: $button-h;
          border-color: $button-h;
          color: $w;
          margin: 20px auto;
          display: block;
          float: none;
        }
        .caret{
          color: $accent-l;
          transform: scale(2.5);
          position: absolute;
          right: 20px;
          top: 18px;
          transition: color .3s;
          @media all and (max-width: 767px) {
            display: none;
          }
        }

      }
      &.open, &:hover{
        .dropdown-toggle{
          background: $button-h;
          border-color: $button-h;
          color: $w;
          border-radius: 10px;
          box-shadow: none;
        }
        .caret{
          color: $w;
        }
      }
      &.open{
        .dropdown-toggle{
          border-radius: 10px 10px 0 0;
          .caret{
            transform: scale(2.5) rotate(180deg);
          }
          @media all and (max-width: 767px) {
            border-radius: 10px;
          }
        }
      }
      .dropdown-menu{
        margin: 0;
        width: 100%;
        border-radius: 0 0 10px 10px;
        border: 0;
        background: $button-h;
        padding: 0 0 10px;
        font-size: 16px;
        color: $w;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        &>li{
          &>a{
            padding: 0 48px;
            color: $w;
            line-height: 33px;
            transition: .3s;
            @media all and (max-width: 767px) {
              padding: 0;
              color: $grey;
              text-align: center;
              line-height: 48px;
              display: block;
              margin: 0 auto;
            }
            &:hover{
              background: rgba(255, 255, 255, 0.2);
              @media all and (max-width: 767px) {
                background: 0;
                color: $w;
              }
            }
            &:focus{
              outline: none;
            }
          }
        }
        @media all and (max-width: 767px) {
          display: block !important;
          position: static;
          border: none;
          background: 0;
          padding: 0;

        }
      }
    }
  }



  .log{
    background: 0;
    transition: background .3s, color .3s;
    line-height: 48px;
    &_out{
      padding: 0 !important;
      color: $grey;
      border: 0;
      &:hover, &:focus{
        color: $w !important;
        background: 0 !important;
      }
      &:active{
        background: 0 !important;
      }
    }
    &_in{
      line-height: 44px;
      border: 2px solid $button;
      padding: 0 20px;
      min-width: 140px;
      border-radius: 10px;

      a{
        color: $accent;
      }
      &:hover, &:focus, &:active{

        background: $button-h !important;
        border-color: $button-h !important;
        a{
          color: $w !important;
          text-decoration: none;
        }
      }
    }
    &_ed, &_ed:focus{
      line-height: 44px;
      border: 2px solid $button;
      min-width: 200px;
      padding: 0 30px 0 0;
      text-align: center;
      border-radius: 10px;
      color: $accent-l;
      background: 0;

    }
  }

  .project-menu{
    display: block;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    .current-project{
      display: none;
    }
    .navbar-nav{
      a{
        padding: 0 40px;
      }
    }
    @media all and (min-width: 768px) {
      display: none !important;
    }
  }
}
