@import '../../scss/common';
@import '../../scss/utilities/lib/rc-slider';


.settings{
  .area{
    float: right;
    padding: 30px;
    position: relative;
    width: 100%;
    margin-bottom: 130px;
    @media all and (min-width: 1200px) {
      width: 485px;
    }
    @media all and (min-width: 992px) {
      width: calc(100% - 15px);
      margin-bottom: 115px;
    }
  }

  h2{
    font-size: 24px;
    margin: 0;
  }
  .range{
    margin: 35px 0 15px;
    color: $grey;
    width: 100%;
    text-align: center;
    .mid{
      color: $w;
    }
  }
  .rc-slider{
    margin-bottom: 35px;
    height: 100%;
    padding: 0;
  }
  form{
    padding: 0;
    .form-group{
      margin: 15px 0 0;
      label{
        width: 33%;
        float: left;
        text-align: left;
        color: $grey;
        font-size: 16px;
        margin: 0;
        padding: 0;
        line-height: 32px;
        &.backupInput{
          width: 63px;
        }
      }
      input{
        float: left;
        width: 100%;
        height: 32px;
        color: $d;
        max-width: 67%;
        line-height: 32px;
        &::placeholder{
          line-height: 32px;
        }
        &.sizeInput{
          width: 80px;
          position: relative;
          max-width: calc(67% - 36px);
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          &+span{
            color: $grey;
            margin-left: 10px;
            line-height: 32px;
          }
        }
        &.nameInput{
          width: 261px;
        }
      }
    }
  }
  button{
    position: absolute;
    bottom: -80px;
    left: 0;
  }
}