@import '../../scss/common';
.instance{
  margin: 50px 0;

  @media all and (min-width: 768px){
    float: right !important;
  }
  @media all and (max-width: 991px) {
    width: 100%;
  }
  ul{
    padding: 0;
    margin: 0;
    @media all and (min-width: 992px) {
      padding-left: 15px;
    }
    list-style: none;
    li{
      padding: 15px 0 20px;
      border-bottom: 1px solid $w-o-o;
      @extend %clearfix;
      &>div{
        display: inline-block;
        vertical-align: top;
      }
      &:first-child{
        border-top: 1px solid $w-o-o;
      }
    }
  }
  .instance_name{
    width: 44%;
    @media all and (max-width: 991px) {
      width: 100%;
      margin: 0 0 20px;
    }
    p{
      color: $grey;
      margin: 0;
    }
    h2{
      margin: 25px 0 10px;
      font-size: 24px;
      @media all and (max-width: 991px) {
        margin: 15px 0 10px;
      }
    }
  }
  .instance_statistic{
    width: 260px;
    //temporary
    margin-top: 25px;
    canvas:first-of-type{
      float: left;
    }
    canvas:last-of-type{
      float: right;
    }
  }
  .storage-info{
    margin: 0 0 5px;
    //temporary
    margin-bottom: 12px;
    text-align: center;
  }
  .progress_simple{
    height: 16px;
    border-radius: $radius;
    background: $disable;
    animation: none;
    .progress-bar{
      border-radius: $radius;
      box-shadow: 0;
      background: $w;
      opacity: .3;
      height: 100%;
      &::before, &::after{
        content: none;
      }
    }
  }
  .instance_control{
    width: 100px;
    float: right;
    @media all and (max-width: 430px) {
      width: 260px;
      margin-top: 20px;
      float: left;
    }
    &>button{
      width: 100px;
      background: 0;
      border-radius: 10px;
      outline: none;
      opacity: .5;
      height: 34px;
      transition: .3s;
      display: inline-block;
      &:hover{
        opacity: 1;
      }
      @media all and (max-width: 430px) {
        width: 119px;
      }
    }
    .edit{
      color: $accent;
      border: 2px solid $accent;
      margin: 5px 0 20px;
      @media all and (max-width: 430px) {
        margin: 0;
      }
    }
    .remove{
      color: $danger;
      border: 2px solid $danger;
      @media all and (max-width: 430px) {
        float: right;
      }
    }
  }

}